.cs-footer {
  padding: 2rem 3rem;
  
  background: rgba(0, 0, 0, 0.11); /* duller than 0.13 */
   border: 2px solid rgb(30, 98, 138);
}

.cs-footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  flex-wrap: wrap;
  
}

/* LEFT */
.cs-footer__copyright {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  
   font-size: 1.25rem;
}

/* RIGHT */
.cs-footer__links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  
  font-weight: 300;
}

.cs-footer__links a {
  
     color: #000;
  font-size: 1.2rem;
  font-weight: 640;
  text-decoration: none;
  border-radius: 10px;

  padding: 0.3rem;
  border: 2px solid transparent;  /* set border in default state */
  box-sizing: border-box;

  transition: border-color 0.1s ease, background 0.1s ease;
}

.cs-footer__links a:hover {
  border-color: #000; 
}

/* MOBILE */
@media (max-width: 768px) {
  .cs-footer__inner {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    
  }

  .cs-footer__links {
    justify-content: center;
    
  }
  .cs-footer__links a {

   font-size: 1rem;
  }
  .cs-footer__copyright {
    font-size: 0.7rem;
  }
}
