.cs-footer {
  
}


.cs-footer p {
  margin: 0 0 10px;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.3px;
  text-align: center;
  font-weight: 900;
}

.cs-footer a {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease, opacity 0.2s ease;
  display: flex;
  justify-content: flex-end;
}

.cs-footer a:hover {
  opacity: 0.9;
}
