/* =========================
   SUB PAGE LAYOUT
========================= */
.cs-page__content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: start;
}

/* =========================
   MEDIA GRID
========================= */
.cs-media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  
}

.cs-media-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* =========================
   TEXT CONTENT
========================= */
.cs-page__content p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
  color: #222;
  font-weight: 600;
  padding: 1.5rem;     
  border: 0.1px solid rgb(0, 0, 0);
}

/* =========================
   QUOTE
========================= */
.cs-quote {
  margin-top: 2rem;
  padding-left: 1.5rem;
  border-left: 4px solid #000;
  font-style: italic;
  opacity: 0.85;
}

/* =========================
   MOBILE
========================= */
@media (max-width: 900px) {
  .cs-page__content {
    grid-template-columns: 1fr;
    padding: 2rem 1.2rem; 
    gap: 1rem;
  }
  .cs-page__content p{
    font-size: 1rem;
    font-weight: 600;
  }
  
}
