.tcaresol-root {

  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
  border-color: #000; 
  opacity: 1;
  transition: opacity 0.2s ease-in;
   background: linear-gradient(
    105deg,
    rgb(78, 125, 255),
    rgba(46, 221, 212, 0.856)
  );
  border-radius: 1rem;
}
.tcaresol-root[data-ready="false"] {
  opacity: 0; /* prevents mid-screen jump flash */
}

.tcaresol-track {
  display: inline-flex;
  white-space: nowrap;
  animation: scroll-marquee 12s linear infinite;
   will-change: transform;
  transform: translateZ(0); /* GPU boost */
  
}

@media (max-width: 768px) {
  @keyframes scroll-marquee-mobile {
    0%   { transform: translateX(100vw); } /* Start just off-screen */
    100% { transform: translateX(-100%); }
  }
  
  .tcaresol-track {
    animation-name: scroll-marquee-mobile;
  }
}
.tcaresol-slide{
  padding: 0.5rem;
}
/* start at right, move to left */
@keyframes scroll-marquee {
  0%   { transform: translateX(100%); }/* finish scroll */
  100% { transform: translateX(-100%);} /* hold/pause here */
}

/* speeds via CMS class */
.speed-slow   .tcaresol-track { animation-duration: 35s; }
.speed-normal .tcaresol-track { animation-duration: 18s; }
.speed-fast   .tcaresol-track { animation-duration: 10s; }

/* alignment controls */
.align-left  { justify-content: flex-start; }
.align-center{ justify-content: center; }
.align-right { justify-content: flex-end; }
