
@import "tailwindcss";

@layer base {
  

  body {
    background: linear-gradient(
     to right,
    rgb(78, 125, 255),
    rgba(46, 221, 212)
  );
  
    background-position: center; /* keeps angle consistent */
    background-repeat: no-repeat;
  }

  a {
    text-decoration: underline;
  }
 @media (max-width: 768px) {
    body {
      background-size: 250% 250%; /* make gradient wider for mobile */
      background-position: center;
      background-attachment: scroll; /* avoids iOS issue */
    }
  }

}
